.selex {
  background-color: rgb(87, 83, 104);
  height: 25px;
  width: 150px;
  color: rgba(255, 255, 255, 0.76);
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 12px;
  border: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
