nav {
    background: 
  linear-gradient(
    rgba(55, 55, 202, 0.692), 
    rgba(150, 150, 253, 0.63), 
    rgba(213, 224, 253, 0.555), 
    rgba(235, 255, 255, 0.822)
  ),
  url(login6.png); 

}


.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    margin-left: 10px;

}