.mapContainer {
  z-index: 0;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 60px;
  margin: 12px;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-size: 10px;
  font-weight: normal;
}
