.dropbar {

    height: 100px;
    background-image: linear-gradient(90deg, rgb(77, 76, 76) 0%, rgb(255, 255, 255) 48.4848%, rgb(77, 48, 48) 100%);
    border-bottom: 1px solid rgba(5, 5, 5, 0.582);
    
}