
body {
    background-image: url(./login1.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7;
}

.Mapcont {
    background-image: url(./login1.png);
    background-size: cover;
    background-repeat: no-repeat;
}